.Navigationbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  padding: 1rem 2rem;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #333 !important;
}

.navbar .nav-link:hover {
  color: #0056b3 !important;
}

.VendorNavbar {
  display: flex;
}

.navbar-left {
  display: none;
}

@media (min-width: 992px) {
  .Navigationbar {
    padding: 1rem 2rem;
  }

  .VendorNav {
    padding: 0 2rem;
  }

  .navbar-left {
    display: block;
  }
}
